@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat

<h4>Add new treat</h4>

@using(Html.BeginForm())
{
  @Html.Label("Name")
  @Html.TextBoxFor(model => model.Name, new { @class = "form-control", required="required"})

  @Html.Label("Select flavor")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Add" class="btn btn-default" required="true" />
}

<hr />
<ul class="menu-links">
  <li>@Html.ActionLink("Home","Index","Home")</li>
  <li>@Html.ActionLink("Back to all treats", "Index")</li>
</ul>