@{
  Layout = "_Layout";
}

@using System.Security.Claims

<h2>Pierre's Treats Staff Page</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
  <p>You are logged in as @User.Identity.Name. Now you can help add and manage flavors and treats for our bakery!</p>

  <ul class="menu-links">
  <li>@Html.ActionLink("Manage flavors","Index","Flavors")</li>
  <li>@Html.ActionLink("Manage treats","Index","Treats")</li>
  </ul>
  <br />
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="btn btn-default" value="Log out" />
  }
}
else
{
  <p>@Html.ActionLink("Register for a staff account", "Register")</p>
  <p>@Html.ActionLink("Log into existing account", "Login")</p>
}

<hr />
<p>@Html.ActionLink("Home", "Index", "Home")</p>